<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="useGeneratedKeys" value="true" />
        <setting name="cacheEnabled" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
    </settings>

    <typeAliases>
        <typeAlias type="com.oooly.api.vercode.system.phone.Phone" alias="phone" />
        <typeAlias type="com.oooly.api.vercode.system.user.User" alias="user" />
    </typeAliases>

    <mappers>
        <mapper resource="mapper/phone.xml" />
        <mapper resource="mapper/user.xml" />
    </mappers>

</configuration>